node_modules
*.jpg
*.zip
*.csv
school.json
ziplist.txt
emis.txt
school.json
building.json
buildingelement.json
schools.json
buildings.json
building_elements.json
output/
_temp/
SIDAHTML/files/last_submission_time.txt
dump
