#page-title{
	width: 100%;
	margin-top: 30px;
}
#page-container{
	width: 100%;
	padding-bottom: 10px;
}

#table-container{
	padding-bottom: 20px;
}

.table-row{
	line-height: 1.8em;
	font-size: 1.2em;
	font-family: "Verdana";
	padding: 0px 8px;
}


.key, .value{
	display: inline-block;
	outline: #cccccc thin solid;
	width: 40%;
	padding: 0px 8px;
}

.section-break{
	line-height: 2em;
	margin-top: 1em;
	width: 81.6%;
}

.section-name{
	background-color: #ececec;
	padding: 0px 8px;
	margin-left: -2px;
	/*width: 97%;*/
}

img{
	display: block;
	height: 20em;
	text-align: center;
}

.has-photo .value, .has-photo .key{
	display: block;
	width: 81.26%;
}
.has-photo .value{
	text-align: center;
}



