body {
	font-family: 'Open Sans', sans-serif;
}
input {
	height: 30px;
	width: 150px;
	margin: 10px;
}

select {
	width: 150px;
}

a {
	text-decoration: none;
	color: #4CAF50;
}

.from-date {
	display: inline-block;
	margin: 30px;
}

.to-date {
	display: inline-block;
	margin: 30px;
}

.select-box {
	display: inline-block;
	margin: 30px;
}

#submit_btn {
	width: 100px;
	height: 30px;
	margin-left: 5%;
	margin-bottom: 6%;
}

.content {
	display: inline-block;
	width: 30vw;
	border: 1px solid lightgrey;
	text-align: center;
}

.result {
	display: inline-block;
	font-size: 1.2em;
}
